---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="container py-20">
    <div class="flex flex-row space-x-4">
      <Button>Click me</Button>
      <Button variant="outline">Click me</Button>
    </div>
  </div>
</Layout>
