---
import { SEO, type Props as SEOProps } from "astro-seo";
import { mergeDeep } from "@/utils/mergeDeep";
import Favicon from "@/components/Favicon.astro";
import "@/styles/global.css";

const defaultSEO: SEOProps = {
  title: "AstroStarter",
  description: "A starter kit for Astro",
  openGraph: {
    basic: {
      title: "AstroStarter",
      type: "website",
      image: `${Astro.site}og-image.jpg`,
    },
    optional: {
      description: "A starter kit for Astro",
      siteName: "AstroStarter",
    },
  },
};

const { seo } = Astro.props;

const seoData = mergeDeep(defaultSEO, seo);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Favicon />
    <meta name="generator" content={Astro.generator} />
    <SEO {...seoData} />
  </head>
  <body>
    <slot />
  </body>
</html>
