---
import Head, { type Props as HeadProps } from "@/layouts/Head.astro";

interface Props extends HeadProps {
  class?: string;
}

const { class: className, ...headProps } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {...headProps} />
  <body class={className}>
    <slot />
  </body>
</html>
