---
import "./src/styles/global.css";
import { Seo } from "astro-seo-meta";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Seo title="AstroStarter" description="A starter kit for Astro" icon="/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>
